[["lockheedmartin-privacy-1" :tos/full-text "# **Lockheed Martin Privacy Center[](https://www.lockheedmartin.com/en-us/contact/data-protection-feedback-request.html)**

We are committed to privacy and the protection of the personal information of individuals including our employees, contractors, business partners, website users, and job applicants. 

To learn more about our privacy practices, please refer to the applicable privacy notice:

  * [Website Privacy Notice](https://www.lockheedmartin.com/en-us/contact/privacy-center.html#privacy)
  * [EU and UK Data Protection Notice (EU-U.S. DPF Privacy Notice)](https://www.lockheedmartin.com/en-us/contact/lockheed-martin-corporation-privacy-notice-eu.html)
  * [Job Applicant Privacy Notice](https://www.lockheedmartin.com/en-us/contact/job-applicant-privacy-notice.html)
  * [Automated License Plate Reader (ALPR) Privacy Notice](https://www.lockheedmartin.com/en-us/contact/automated-license-plate-reader-usage-and-privacy-notice.html)
  * [Data Privacy Rights Request Form](https://www.lockheedmartin.com/en-us/contact/data-protection-feedback-request.html)

#### **Website Privacy Notice**

**_  
Lockheed Martin Corporation_ **and its affiliates (collectively referred to as \"_Lockheed Martin Corporation_ \",**** \"we\", \"us\") takes its data protection and privacy responsibilities seriously. This privacy notice explains how we collect, use and share your personal information as a result of your use of our web sites, including:

  * What personal information we collect and when and why we use it.
  * Sharing your personal information
  * Transferring personal information globally
  * How we protect and store personal information
  * European Union
  * California
  * Australia
  * How you can contact us
  * Changes to this Privacy Notice

**  
Intranet Disclosure**

Some of Lockheed Martin websites, such as the [LMPeople](https://www.lmpeople.com/) and [Employee Service Center](https://www3.benefitsweb.com/lmc.html) websites that provide employees and retirees access to personnel and benefits information from the Internet, may provide more detailed privacy or disclaimer notices or policies, in which case they take priority over this notice.

To make this Privacy Notice easy to find, we make it available in the footer of every web page where it applies. Employees, [Applicants](https://www.lockheedmartin.com/en-us/contact/job-applicant-privacy-notice.html) and others with access to the Lockheed Martin internal Intranet should note that this privacy notice will apply if linked directly from there; otherwise, our internal privacy policies will apply as defined in Corporate Command Media.

**  
Links to other websites**

You might find external links to third-party websites on our website. This privacy notice only applies to personal data collected on this website and does not apply to your use of a third-party site. We have no influence or control over linked third-party websites and your use of other sites is at your own risk and is subject to their privacy statements and policies.

**If you are applying for a position with our organization, please review our separate[Job Applicant Privacy Notice](https://www.lockheedmartin.com/en-us/contact/job-applicant-privacy-notice.html) to understand how we collect, use, and protect your personal data during the recruitment and application process.**

If you visit one of our facilities in the United States, please review our [**Automated License Plate Reader (ALPR)** Privacy Notice](https://www.lockheedmartin.com/en-us/contact/automated-license-plate-reader-usage-and-privacy-notice.html) to understand how we use ALPR technology.

**  
What Personal Information We Collect and When and Why We Use It**

In this section you can find out more about:

  * When we collect personal information
  * Categories of personal information we collect
  * How we use personal information

  
---  
  
**When we collect information:**

We collect information about you if you register with or use one of our website(s).

We will collect your personal information via the following methods:

  * By recording the details you provide to us, with your explicit consent where required, - e.g. in responding to a job posting, your communications with us through emails or calls, and/or
  * By observing your use of our products and services and our website.

Our website uses a tracking technology known as “cookies.” These cookies may collect demographic and interest information, which may result in seeing certain interest based information on other websites. For further details on our use of cookies and how you can change the way your browser manages cookies please see our [cookie statement](https://www.lockheedmartin.com/en-us/contact/cookies.html).

**  
Categories of Personal Information we collect and use if you use our websites or visit our facilities**

**Category of Personal Information** | **Further information about the category**  
---|---  
Contact information |  Names, postal addresses (including address history), email address, telephone numbers  
Employment information |  Employment status, employment history, education history CV, information about security clearance (where necessary), work authorization, your current salary, and other personal information submitted by job applicants  
Demographic Information |  Gender, Ethnicity, Veteran Status, Disability Status  
IP Address and Technical Details |  IP address of the computer/personal device that you use to access our website(s), approximate location information from where you access our website(s) and information about your device and browser  
Health Information |  Information relating to infectious diseases such as symptoms, recent diagnoses and relevant travel history  
  
**  
How we use personal information**

We may use or disclose the personal information we collect to:

  * fulfill or meet the reason you provided the information. For example, if you share your name and contact information to request a price quote or ask a question about our products or services, we will use that personal information to respond to your inquiry;
  * communicate with you about, and administer your participation in, special events, programs, offers, surveys and market research;
  * respond to your inquiries;
  * process employment applications, including by assessing qualifications, verifying information, and conducting reference or other employment-related checks;
  * evaluate potential suppliers and subcontractors and manage our relationships with them;
  * perform data analyses (including anonymization and aggregation of personal information);
  * protect against, identify and prevent cybersecurity and other security events, espionage, fraud and other unlawful activity, claims and other liabilities;
  * help maintain the safety, security, and integrity of our website, products and services, databases and other technology assets, and business; and
  * comply with and enforce applicable legal requirements, relevant industry standards and our policies.

We also may use the information in other ways for which we provide specific notice at the time of collection.

**  
Sharing Your Personal Information**

In this section you can find out more about how we share personal information:

  * within **Lockheed Martin Corporation**
  * with third parties, including those that help us provide our products and services; and
  * with regulators

  
---  
  
We share your information in the manner and for the purposes described below:

  1. within **Lockheed Martin Corporation** , where such disclosure is necessary to provide you with our services, to manage our business, or for security purposes;
  2. with third parties who help manage our business and deliver services. These third parties have agreed to confidentiality restrictions and use any personal information we share with them or which they collect on our behalf solely for the purpose of providing the contracted service to us. These include IT service providers who help manage our IT and back office systems;
  3. we may share in aggregate, statistical form, non-personal data regarding the visitors to our website, traffic patterns, and website usage with our partners, affiliates or advertisers;
  4. If, in the future, we sell or transfer some or all our business or assets to a third party, we may disclose information to a potential or actual third-party purchaser of our business or assets; and/or
  5. with our regulators, to comply with all applicable laws, regulations and rules, and requests of law enforcement, regulatory and other governmental agencies.

**  
Transferring Personal Information**

In this section you can find out more about:

  * how we operate as a global business and transfer personal information.
  * the arrangements we have in place to protect your personal information.

  
---  
  
  
**Lockheed Martin Corporation** operates on a global basis. Accordingly, your personal information may be transferred and stored in the United States, Australia, the United Kingdom or Singapore that are subject to different standards of data protection. **Lockheed Martin Corporation** will take appropriate steps ensure that transfers of personal information are in accordance with applicable law and carefully managed to protect your privacy rights and interests. To this end:

  * we ensure transfers within **Lockheed Martin Corporation** will be covered by an agreement entered into by members of **Lockheed Martin Corporation** (an intra-group agreement) which contractually obliges each member to ensure that personal information receives an adequate and consistent level of protection wherever it is transferred within **Lockheed Martin Corporation** ;
  * where we transfer your personal information outside **Lockheed Martin Corporation** or to third parties who help provide our products and services, we obtain contractual commitments from them to protect your personal information; or
  * where we receive requests for information from law enforcement or regulators, we carefully validate these requests before any personal information are disclosed.

You have a right to contact us at [privacy.fc-lm@lmco.com](mailto:privacy.fc-lm@lmco.com) for more information about the safeguards we have put in place (including a copy of relevant contractual commitments) to ensure the adequate protection of your personal information when this is transferred as mentioned above.

For more information about Lockheed Martin’s compliance with the **EU-U.S. Data Privacy Framework** (DPF) and the**UK Extension** to the EU-U.S. DPF, please see our [EU-U.S. DPF Privacy Notice.](https://www.lockheedmartin.com/en-us/contact/lockheed-martin-corporation-privacy-notice-eu.html)

**  
How We Protect and Retain Your Information**

**Security**

We have implemented and maintain appropriate technical and organizational security measures, policies and procedures designed to reduce the risk of accidental destruction or loss, or the unauthorized disclosure or access to such information appropriate to the nature of the information concerned. As the security of information depends in part on the security of the computer you use to communicate with us and the security you use to protect User IDs and passwords please take appropriate measures to protect this information.

**Retaining your personal information**

We will retain your personal information for as long as is reasonably necessary for the purposes for which it was collected, in alignment with our business needs (for example, to provide you with our services or to further contact you about employment opportunities). In some circumstances we may store your personal information for longer periods of time, for instance where we are required to do so in accordance with legal, regulatory, tax, and accounting requirements.

In specific circumstances, we may store your personal information for longer periods of time so that we have an accurate record of your dealings with us in the event of any complaints or challenges, or if we reasonably believe there is a prospect of litigation relating to your personal information or dealings.

**Europe**

If you are located in the European Union or the United Kingdom click [**here**](https://www.lockheedmartin.com/en-us/contact/lockheed-martin-corporation-privacy-notice-eu.html) for the Lockheed Martin EU and UK Data Protection Notice applicable to you.

**California**

If you are a resident of California as defined in the California Code of Regulations (18 CCR § 17014), you have the following rights under the California Consumer Privacy Act of 2018 (“CCPA”) and the California Privacy Rights Act (“CPRA”), collectively, “California Privacy Law”:

Effective January 1, 2023, the California Privacy Law allows California residents to request: access to their personal information in a portable and readily usable form; disclosure of the specific categories of, and sources for, personal information that the company has collected about you; the business or commercial purposes for collecting the personal information; the categories of third parties with which the information was shared; and, deletion of your personal information, subject to certain exceptions.

You must verify your identity before we will fulfill your request. As a part of this verification process, government identification may be required. You may designate an authorized agent to make a request under the California Privacy Law on your behalf. In order to designate an authorized agent to make a request on your behalf, you must provide a valid power of attorney and the requester’s valid government-issued identification. 

You have the right to make a request two times in a 12-month period, free of charge. We will respond within 45 days of receiving your request, unless we request an extension. In the event a 45-day extension is needed, we will notify you of the extension within the initial 45-day period.

Upon validation of the identity and confirmation of California residency, in response to a valid access (right to know) request, Lockheed Martin will generally provide:

  * The categories of PI that Lockheed Martin has collected about the data subject;
  * The categories of sources from which Lockheed Martin has collected the PI;
  * The business or commercial purposes for collecting, selling, or sharing PI;
  * The categories of third parties to whom Lockheed Martin discloses PI; and
  * The specific pieces of PI that Lockheed Martin has collected from or about the data subject.

Lockheed Martin may apply any exceptions or other conditions available under law when responding to any access (right to know) requests, corrections, deletions, or other requests.

Lockheed Martin, generally, does not engage in:

  * The \"sale\" or \"sharing\" of California PI, except with respect to the potential limited data processing activities on the web and internet sites for online advertising and marketing. Where such sale or sharing occurs, Lockheed Martin will post suitable \"Do Not Sell or Share My Personal Information\" links on homepages and provide suitable means for users to opt-out of such sale;
  * Providing financial incentives for the disclosure of California PI; and
  * Any use or disclosure of sensitive personal information except as necessary to provide benefit services or as otherwise permitted by California Privacy Law to comply with federal, state, or local laws.

As defined by California’s ‘Shine the Light Law,’ California residents may annually request and obtain information free of charge about what personal information is disclosed to third-parties for direct marketing use within the prior calendar year. Lockheed does not sell or share your personal information with other businesses for direct marketing.

Health or medical information covered by the Health Insurance Portability and Accountability Act of 1996 (HIPAA) and the California Confidentiality of Medical Information Act (CMIA) are excluded by California Privacy Law. 

**Australia**

Users in Australia can contact us to discuss any concerns or you may choose to complain to the Office of the Australian Information Commissioner via [www.oaic.gov.au](http://www.oaic.gov.au/).

If you are located in Australia, where you provide us with the personal information of third parties (e.g. your employees or contractors), you warrant that you have obtained the consent of and/or notified those individuals as required under the _Privacy Act 1988_(Cth) that you are providing their personal information to us and have provided them with a copy of or link to this Privacy Policy.

**  
Contact Us**

If you have any questions, concerns or complaints regarding our compliance with this notice and applicable data protection laws, or if you wish to exercise your rights, we encourage you to first contact us at:

Chief Privacy Officer  
Lockheed Martin Corporation  
6801 Rockledge Drive  
Bethesda, Maryland 20817

LM Privacy Hot Line: 1-877-314-8442 or [privacy.fc-lm@lmco.com](mailto:privacy.fc-lm@lmco.com)

We will investigate and attempt to resolve complaints and disputes and will make every reasonable effort to honor your wish to exercise your rights as quickly as possible and, in any event, within the timeframes provided by applicable data protection laws.

**  
Changes to this Privacy Notice**

Lockheed Martin reserves the right to modify this Privacy Notice at any time. If we make changes to this Privacy Notice, we will post the revised notice here and update the effective date.

Effective: November 9, 2023

Helpful Links   ___

What We Do [Our Capabilities](/en-us/capabilities.html) [Our Products](/en-us/products.html)

Who We Are [Careers](https://www.lockheedmartin.com/en-us/careers/index.html) [Community](/en-us/who-we-are/communities.html) [Leadership](/en-us/who-we-are/leadership-governance.html) [Newsroom](https://news.lockheedmartin.com/) [Sustainability](https://sustainability.lockheedmartin.com/) [About Us](/en-us/who-we-are.html)

Information [Employees](/en-us/employees.html) [International](/en-us/who-we-are/international.html) [Investors](https://investors.lockheedmartin.com/) [Suppliers](/en-us/suppliers.html)

Connect [Contact Us](/en-us/contact.html) [Media Relations](https://www.lockheedmartin.com/en-us/news/media-contacts.html) [Multimedia](https://www.lockheedmartin.com/en-us/news/multimedia.html) [Disclosures](https://www.lockheedmartin.com/en-us/contact/vulnerability-disclosure-policy.html)

#### Join the Vector Star newsletter

Get articles on the innovative projects Lockheed Martin scientists and engineers are working on right now.

[Sign Up Now](/en-us/news/features/vector-star.html)

[](/en-us/index.html)

(C) 2026   
Lockheed Martin Corporation.   
All Rights Reserved. 

[Privacy Center](https://www.lockheedmartin.com/en-us/contact/privacy-center.html) [Terms of Use](https://www.lockheedmartin.com/en-us/contact/disclaimer.html) [Cookies](https://www.lockheedmartin.com/en-us/contact/cookies.html)

Stock Price   

##### 

Social Media 

[](http://www.facebook.com/lockheedmartin) [](http://twitter.com/lockheedmartin) [](http://www.youtube.com/user/LockheedMartinVideos) [](https://www.linkedin.com/company/lockheed-martin) [](http://instagram.com/lockheedmartin)

__"
  :tos/source-url "https://www.lockheedmartin.com/en-us/contact/privacy-center.html"
  :tos/retrieved-at "2026-07-10T06:03:21Z"
  :tos/sha256 "bd7d3f0cf0a0fc3e61a582986dbc830b628fe446da21c31a3f5da118047acf83"
  :tos/doc-type :privacy-policy 1 :add]]
